body{
    display: flex;
    background-image: url(../img/backgroud-mobile.png);
    background-size: cover;
    background-position: 10%;
    background-repeat: no-repeat;
    justify-content: center;
    height: 100%;
}
.lary{
    margin-top: 90%;
}
.lary:hover{
    cursor: pointer;
}